{
  "url": "${GHOST_URL}",
  "server": {
    "port": ${GHOST_PORT},
    "host": "0.0.0.0"
  },
  "database": {
    "client": "mysql",
    "connection": {
      "host": "${MYSQL_HOST}",
      "port": ${MYSQL_PORT},
      "user": "${MYSQL_USER}",
      "password": "${MYSQL_PASSWORD}",
      "database": "${MYSQL_DATABASE}"
    }
  },
  "logging": {
    "level": "${GHOST_LOG_LEVEL}",
    "transports": ["file", "stdout"]
  },
  "process": "local",
  "paths": {
    "contentPath": "${GHOST_CONTENT_PATH}"
  },
  "privacy": {
    "useTinfoil": true
  }
}
