<?php
unset($CFG);
global $CFG;
$CFG = new stdClass();

$CFG->dbtype    = 'pgsql';
$CFG->dblibrary = 'native';
$CFG->dbhost    = getenv('POSTGRES_HOST') ?: 'localhost';
$CFG->dbname    = getenv('POSTGRES_DATABASE') ?: 'moodle';
$CFG->dbuser    = getenv('POSTGRES_USERNAME') ?: 'moodle';
$CFG->dbpass    = getenv('POSTGRES_PASSWORD') ?: '';
$CFG->prefix    = 'mdl_';
$CFG->dboptions = array (
  'dbpersist' => 0,
  'dbport' => getenv('POSTGRES_PORT') ?: 5432,
  'dbsocket' => '',
);

$CFG->wwwroot   = getenv('HOP3_APP_ORIGIN') ?: 'http://localhost';
$CFG->dataroot  = '/app/data/moodledata';
$CFG->admin     = 'admin';

$CFG->directorypermissions = 0777;

// Redis session handler
$CFG->session_handler_class = '\core\session\redis';
$CFG->session_redis_host = getenv('REDIS_HOST') ?: 'localhost';
$CFG->session_redis_port = getenv('REDIS_PORT') ?: 6379;
$CFG->session_redis_auth = getenv('REDIS_PASSWORD') ?: '';
$CFG->session_redis_prefix = 'moodlesession_';
$CFG->session_redis_acquire_lock_timeout = 120;
$CFG->session_redis_lock_expire = 7200;

require_once(__DIR__ . '/lib/setup.php');
