<?php

// ALL CHANGES TO THIS FILE WILL BE LOST! MAKE CHANGES TO local.php INSTEAD

$conf['useacl'] = 1;

// https://www.dokuwiki.org/config:savedir
$conf['savedir'] = '/app/data/data';          //where to store all the files
$conf['userewrite'] = 1;

$conf['allowdebug'] = 0;
$conf['updatecheck'] = 0;
$conf['useslash'] = 1;

$conf['trustedproxy'] = getenv('HOP3_PROXY_IP') ?: '';
$conf['trustedproxies'] = array(getenv('HOP3_PROXY_IP') ?: '');

$conf['plugin']['smtp'] = [
    'smtp_host' => getenv('SMTP_HOST') ?: 'localhost',
    'smtp_port' => getenv('SMTP_PORT') ?: '25',
    'smtp_ssl' => 'none',
    'auth_user' => getenv('SMTP_USERNAME') ?: '',
    'auth_pass' => getenv('SMTP_PASSWORD') ?: '',
    'localdomain' => getenv('MAIL_DOMAIN') ?: 'localhost'
];

// https://www.dokuwiki.org/config:mailfrom
$conf['mailfrom'] = sprintf("%s <%s>", getenv('MAIL_FROM_DISPLAY_NAME') ?: 'DokuWiki', getenv('MAIL_FROM') ?: 'noreply@localhost');

// OIDC plugin config. Carefully merges any user settings from local.php
if ( ! empty(getenv('OIDC_ISSUER')) ) {
    $conf['plugin']['oauth'] = $conf['plugin']['oauth'] ?? [];
    $conf['plugin']['oauth'] = array_merge([
        'register-on-auth' => 1,
        'overwrite-groups' => 1
    ], $conf['plugin']['oauth']);

    $conf['plugin']['oauthgeneric'] = $conf['plugin']['oauthgeneric'] ?? [];
    $conf['plugin']['oauthgeneric'] = array_merge([
        'key' => getenv('OIDC_CLIENT_ID'),
        'secret' => getenv('OIDC_CLIENT_SECRET'),
        'authurl' => getenv('OIDC_AUTH_ENDPOINT'),
        'tokenurl' => getenv('OIDC_TOKEN_ENDPOINT'),
        'userurl' => getenv('OIDC_PROFILE_ENDPOINT'),

        'authmethod' => '1', // bearer header!
        'scopes' => [ 'openid', 'email', 'profile', 'groups' ],
        'json-user' => 'preferred_username',
        'json-name' => 'name',
        'json-mail' => 'email',
        'label' => getenv('OIDC_PROVIDER_NAME') ?: 'SSO',
        'color' => '#03a9f4'
    ], $conf['plugin']['oauthgeneric']);

    $conf['authtype'] = 'oauth';
}
