advanced-alchemy==1.8.0
alembic==1.17.2
anyio==4.11.0
arrow==1.4.0
asttokens==2.4.1
attrs==25.4.0
bcrypt==5.0.0
boolean-py==5.0
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
cheap-repr==0.5.2
click==8.3.1
cryptography==46.0.3
cyclonedx-bom==7.2.1
cyclonedx-python-lib==11.5.0
defusedxml==0.7.1
devtools==0.12.2
dishka==1.7.2
docker==7.1.0
executing==2.2.1
fqdn==1.5.1
granian==2.6.0
greenlet==3.2.4
h11==0.16.0
hop3-cli==0.4.0a1
hop3-server==0.4.0a1
hop3-testing==0.4.0a1
httpcore==1.0.9
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
invoke==2.2.1
isoduration==20.11.0
itsdangerous==2.2.0
jinja2==3.1.6
jsonpointer==3.0.0
jsonrpcclient==4.0.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lark==1.3.1
license-expression==30.4.4
loguru==0.7.3
lxml==6.0.2
mako==1.3.10
markdown-it-py==4.0.0
markupsafe==3.0.3
marshmallow==4.1.0
mdurl==0.1.2
packageurl-python==0.17.5
packaging==25.0
paramiko==2.12.0
pathspec==0.12.1
pip-requirements-parser==32.0.1
platformdirs==4.5.0
pluggy==1.6.0
psycopg2==2.9.11
py-serializable==2.1.0
pycparser==2.23
pygments==2.19.2
pyjwt==2.10.1
pynacl==1.6.1
pyparsing==3.2.5
pytest==9.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
pyyaml==6.0.3
referencing==0.37.0
requests==2.32.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rpds-py==0.29.0
six==1.17.0
sniffio==1.3.1
snoop==0.6.0
sortedcontainers==2.4.0
sqlalchemy==2.0.44
sshtunnel==0.4.0
starlette==0.50.0
tabulate==0.9.0
termcolor==3.2.0
toml==0.10.2
tomlkit==0.13.3
typing-extensions==4.15.0
tzdata==2025.2
uri-template==1.3.0
urllib3==2.5.0
watchfiles==1.1.1
webargs==8.7.1
webcolors==25.10.0
