abilian-devtools==0.7.5
advanced-alchemy==0.26.0
alembic==1.14.0
ansimarkup==1.5.0
anyio==4.7.0
argcomplete==3.5.1
arrow==1.3.0
astroid==3.3.5
asttokens==2.4.1
astypes==0.2.6
attrs==24.2.0
babel==2.16.0
bandit==1.8.0
bcrypt==4.2.1
beartype==0.19.0
binaryornot==0.4.4
black==24.10.0
blinker==1.9.0
boolean-py==4.0
bracex==2.5.post1
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.0
cheap-repr==0.5.2
cleez==0.1.13
click==8.1.7
cognitive-complexity==1.3.0
colorama==0.4.6
colorlog==6.9.0
configparser==7.1.0
coverage==7.6.9
cryptography==44.0.0
csscompressor==0.9.5
cyclonedx-bom==5.1.1
cyclonedx-python-lib==8.5.0
defusedxml==0.7.1
deptry==0.21.1
devtools==0.12.2
distlib==0.3.9
distro==1.9.0
dlint==0.16.0
dnspython==2.7.0
docformatter==1.7.5
docstring-parser-fork==0.0.9
duty==1.4.3
email-validator==2.2.0
execnet==2.1.1
executing==2.1.0
failprint==1.0.3
filelock==3.16.1
flake8==7.1.1
flake8-assertive==2.1.0
flake8-bandit==4.1.1
flake8-breakpoint==1.1.0
flake8-cognitive-complexity==0.1.0
flake8-datetimez==20.10.0
flake8-ecocode==0.1.3
flake8-functions==0.0.8
flake8-if-expr==1.0.4
flake8-isort==6.1.1
flake8-logging-format==2024.24.12
flake8-mutable==1.2.0
flake8-no-pep420==2.8.0
flake8-pep3101==2.1.0
flake8-pep585==0.1.7
flake8-pep604==1.1.0
flake8-plugin-utils==1.3.3
flake8-pytest==1.4
flake8-pytest-style==2.0.0
flake8-super==0.1.3
flake8-super-call==1.0.0
flake8-tidy-imports==4.11.0
flake8-tuple==0.4.1
flask==3.1.0
flask-login==0.6.3
flask-principal==0.4.0
flask-security-too==5.5.2
flask-wtf==1.2.2
fqdn==1.5.1
gevent==24.11.1
ghp-import==2.1.0
git-cliff==2.7.0
gitdb==4.0.11
gitpython==3.1.43
greenlet==3.1.1
griffe==1.5.1
grimp==3.5
h11==0.14.0
hop3-agent==0.3
hop3-cli==0.1.0
hop3-testing==0.3.0
htmlmin2==0.1.13
httpcore==1.0.7
httpx==0.28.0
identify==2.6.3
idna==3.10
import-linter==2.1
importlib-resources==6.4.5
infer-types==1.0.0
iniconfig==2.0.0
invoke==2.2.0
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jinja2==3.1.4
jsmin==3.0.1
jsonpointer==3.0.0
jsonrpcclient==4.0.3
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lbom==0.6
lib4package==0.2.0
lib4sbom==0.7.5
license-expression==30.4.0
lxml==5.3.0
mako==1.3.7
markdown==3.7
markdown-callouts==0.4.0
markdown-exec==1.9.3
markdown-it-py==3.0.0
markupsafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-autorefs==1.2.0
mkdocs-coverage==1.1.0
mkdocs-gen-files==0.5.0
mkdocs-get-deps==0.2.0
mkdocs-git-revision-date-localized-plugin==1.3.0
mkdocs-include-markdown-plugin==7.1.2
mkdocs-literate-nav==0.6.1
mkdocs-material==9.5.47
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.8.0
mkdocs-roamlinks-plugin==0.3.2
mkdocstrings==0.27.0
mkdocstrings-python==1.12.2
mr-proper==0.0.7
mypy==1.13.0
mypy-extensions==1.0.0
nodeenv==1.9.1
nox==2024.10.9
packageurl-python==0.16.0
packaging==24.2
paginate==0.5.7
paramiko==3.5.0
passlib==1.7.4
pathspec==0.12.1
pbr==6.1.0
pip==24.3.1
pip-requirements-parser==32.0.1
platformdirs==4.3.6
pluggy==1.5.0
plumbum==1.9.0
ply==3.11
pre-commit==4.0.1
profilehooks==1.13.0
psycopg2==2.9.10
ptyprocess==0.7.0
py-serializable==1.1.2
pycodestyle==2.12.1
pycparser==2.22
pydoclint==0.5.9
pyflakes==3.2.0
pygments==2.18.0
pyinfra==3.1.1
pymdown-extensions==10.12
pynacl==1.5.0
pyparsing==3.2.0
pyright==1.1.390
pyspnego==0.11.2
pytest==8.3.4
pytest-beartype==0.2.0
pytest-cov==6.0.0
pytest-random-order==1.1.1
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-debian==0.1.49
python-dotenv==1.0.1
python-magic==0.4.27
pytz==2024.2
pywinrm==0.5.0
pyyaml==6.0.2
pyyaml-env-tag==0.1
rdflib==7.1.1
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-ntlm==1.3.0
requirements-parser==0.11.0
reuse==5.0.2
rfc3339-validator==0.1.4
rfc3987==1.3.8
rich==13.9.4
rpds-py==0.22.3
rpyc==6.0.1
ruff==0.8.2
sbom2dot==0.3.1
sbom4files==0.4.4
sbom4python==0.11.3
semantic-version==2.10.0
setuptools==75.6.0
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
snoop==0.6.0
sortedcontainers==2.4.0
spdx-tools==0.8.3
sqlalchemy==2.0.36
stdlib-list==0.11.0
stevedore==5.4.0
tabulate==0.9.0
termcolor==2.5.0
toml==0.10.2
tomlkit==0.13.2
typeguard==4.4.1
types-paramiko==3.5.0.20240928
types-python-dateutil==2.9.0.20241206
types-pytz==2024.2.0.20241003
types-requests==2.32.0.20241016
types-setuptools==75.6.0.20241126
types-tabulate==0.9.0.20240106
types-toml==0.10.8.20240310
typeshed-client==2.7.0
typing-extensions==4.12.2
untokenize==0.1.1
uri-template==1.3.0
uritools==4.0.3
urllib3==2.2.3
virtualenv==20.28.0
vulture==2.13
watchdog==6.0.0
watchfiles==0.24.0
wcmatch==10.0
webcolors==24.11.1
werkzeug==3.1.3
wtforms==3.2.1
xmltodict==0.14.2
zope-event==5.0
zope-interface==7.2
