# Goes to: /etc/systemd/system/hop3-nginx.service

[Unit]
Description=Restarts NGINX when ~hop3/nginx changes.

[Service]
Type=simple
ExecStart=/usr/bin/systemctl reload nginx

[Install]
WantedBy=multi-user.target
