; Gitea Configuration for Hop3
; https://docs.gitea.io/en-us/config-cheat-sheet/

[DEFAULT]
APP_NAME = ${GITEA_APP_NAME}
RUN_MODE = ${GITEA_RUN_MODE}
RUN_USER = gitea

[repository]
ROOT = ${GITEA_REPO_ROOT}

[repository.local]
LOCAL_COPY_PATH = ./tmp/local-repo

[repository.upload]
TEMP_PATH = ./tmp/uploads

[server]
DOMAIN = ${GITEA_DOMAIN}
HTTP_PORT = ${GITEA_HTTP_PORT}
ROOT_URL = ${GITEA_ROOT_URL}
DISABLE_SSH = true
LFS_START_SERVER = true
LFS_CONTENT_PATH = ./data/lfs
OFFLINE_MODE = false

[database]
DB_TYPE = postgres
HOST = ${PGHOST}:${PGPORT}
NAME = ${PGDATABASE}
USER = ${PGUSER}
PASSWD = ${PGPASSWORD}
SSL_MODE = disable
LOG_SQL = false

[indexer]
ISSUE_INDEXER_PATH = ./indexers/issues.bleve

[session]
PROVIDER = file
PROVIDER_CONFIG = ./data/sessions

[picture]
AVATAR_UPLOAD_PATH = ./data/avatars
REPOSITORY_AVATAR_UPLOAD_PATH = ./data/repo-avatars

[attachment]
PATH = ./data/attachments

[log]
MODE = console
LEVEL = ${GITEA_LOG_LEVEL}
ROOT_PATH = ./log

[security]
INSTALL_LOCK = true
SECRET_KEY = ${GITEA_SECRET_KEY}
INTERNAL_TOKEN = ${GITEA_INTERNAL_TOKEN}

[service]
DISABLE_REGISTRATION = false
REQUIRE_SIGNIN_VIEW = false
REGISTER_EMAIL_CONFIRM = false
ENABLE_NOTIFY_MAIL = false
ALLOW_ONLY_EXTERNAL_REGISTRATION = false
ENABLE_CAPTCHA = false
DEFAULT_KEEP_EMAIL_PRIVATE = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_ENABLE_TIMETRACKING = true

[openid]
ENABLE_OPENID_SIGNIN = true
ENABLE_OPENID_SIGNUP = true

[cron.update_checker]
ENABLED = false

[mailer]
ENABLED = false

[actions]
ENABLED = true
