# Umami environment configuration
# Add custom environment variables here

# Hash salt for user passwords
HASH_SALT=change_me_to_random_string

# Optional: Custom API endpoint for collecting analytics
# COLLECT_API_ENDPOINT=/api/send
