<?php
// Kanboard configuration for Hop3
// Database credentials injected via environment variables

define("DB_DRIVER", "mysql");
define("DB_HOST", getenv("MYSQL_HOST"));
define("DB_PORT", getenv("MYSQL_PORT"));
define("DB_USERNAME", getenv("MYSQL_USER"));
define("DB_PASSWORD", getenv("MYSQL_PASSWORD"));
define("DB_NAME", getenv("MYSQL_DATABASE"));

// Enable plugins
define("PLUGIN_INSTALLER", true);
